body {
  background-color: white;
}

@font-face {
  font-family: 'Cormorant Garamond', serif;
  src: url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
}

@font-face {
  font-family: 'Roboto Mono', monospace;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
}

#Name {
  color: black;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}

#Studying,
#Interests {
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

#root {
  max-width: 100%;
}

.content.container {
  overflow: hidden;
}

.container {
  float: left; 
  position: relative;
  margin-left: 40px;
  /* margin-right: 0x;  */
  max-width: 50%;
  
}

#image {
  width: 50%; 
  height: 25%; /* Maintain the aspect ratio */
}

.overlay {
  position: absolute;
  top: -5;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefdfd;
  overflow: hidden;
  width: 50%;
  height: 0%; 
  transition: 0.5s ease;
  float: left; 
}

.container:hover .overlay {
  width: 50%; 
  height: 100%; 
}

.text {
  white-space: nowrap;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-style: italic;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%); 
  -ms-transform: translate(50%, -50%);
} 

#BackgroundMe {
  color: black;
  font-size: 25px;
  margin-top: 100px; 
  margin-bottom: 100px; 
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  margin-right: 30px; 
  margin-left: 30px;
}

p {
  color: black; 
  font-size: 25px;
}



