body {
  background-color: white;
}

@font-face {
  font-family: 'Cormorant Garamond', serif;
  src: url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

  font-family: 'Cormorant Garamond', serif;
  font-family: 'Roboto Mono', monospace;
  src: url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto+Mono:wght@300&display=swap');

}

#Name {
  color: black; 
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}

#Studying {
  color: black; 
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

#Interests {
  color: black; 
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}
#root {
  max-width: 1280px;
}
